:root {
    --primary: oklch(0.75 0.10 255);
    --valid: oklch(0.75 0.10 150);
    --invalid: oklch(0.75 0.10 348);
    --background1: oklch(0.1 0 0);
    --background2: oklch(0.2 0 0);
    --background3: oklch(0.4 0 0);
    --background4: oklch(0.55 0 0);
    --fontcolor1: oklch(0.9 0 0);
    --fontcolor2: oklch(0.75 0 0);
    color: var(--fontcolor1)
}

input,
button,
select,
textarea {
    font: inherit;
    color: var(--fontcolor1);
    background-color: var(--background3);
}


body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: var(--background1)
}

main {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    border-radius: 8px;
    margin: 20px;
    justify-content: center;
    background-color: var(--background2);
    padding: 1rem;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1ch;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form {
    display: grid;
    grid-area: main;
    grid-template-areas:
        "form-main"
        "form-wide"
        "form-footer";
    line-height: 2.5ch;
}

.form-container {
    display: grid;
    grid-area: form-main;
    gap: 1rem;
}

footer {
    grid-area: form-footer;
    margin-bottom: 1rem;
}

.form-group {
    display: grid;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
}

.form-group-wide {
    display: grid;
    grid-area: form-wide;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.checkmarks {
    display: grid;
}

.form-group datalist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    writing-mode: vertical-lr;
}

.form-group option {
    padding: 0;
}

/* Stylish buttons */
button {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    /* Frisk blå gradient */
    color: var(--fontcolor1);
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    margin-bottom: 0.2rem;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

input {
    border-radius: 8px;
    padding-left: 1ch;
    height: 1.5rem;
}

select {
    border-radius: 8px;
    padding-left: 0.6ch;
    height: 1.75rem;
}

textarea {
    border-radius: 8px;
}

.form-group input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

input:focus {
    color: var(--fontcolor1);
    background-color: var(--background4);
}

input:not(:placeholder-shown):valid,
select:not(:placeholder-shown):valid {
    outline-color: var(--valid);
}

input:not(:placeholder-shown):invalid {
    outline-color: var(--invalid);
}


@media (width > 720px) {
    .form-container {
        grid-template-areas:
            "form-main form-main"
            "form-wide form-wide"
            "form-footer form-footer";
    }

    .form-group-wide {
        grid-area: form-wide;
    }

}